mat-card-title {
  color: white;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  margin: 8px;
}

.blue {
  color: #71deff;
}

.green {
  color: #36e9b6;
}

.yellow {
  color: #ffcf44;
}

.purple {
  color: #b15cff;
}

.red {
  color: #e74a4a;
}

.gray {
  color: gray;
}
