<mat-card>
  <mat-card-header>
    <mat-card-title>Board</mat-card-title>
    <mat-card-subtitle>What shall we call this board?</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="data.title" />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.title" cdkFocusInitial>
      Create
    </button>
  </mat-card-actions>
</mat-card>
